# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# dotenv environment variables file
.env

# VS Code
.vscode

# working directories
work/
